
:root {
    --color-primary: #269fe6;
    --color-primary-hover: #2086c2;
    --color-primary-dark: #13141f;
    --color-primary-dark-hover: #212336;
    --color-primary-light: #d4ecfa;
    --color-primary-light-hover: #bdd8e7;

    --color-white: #fff;
    --color-black: #000;

    --color-dark-text: #444;
    --color-info-light: #cce5ff;
    --color-debug-light: #cce5ff;
    --color-success-light: #d4edda;
    --color-alert-light: #fff3cd;
    --color-warning-light: #fff3cd;
    --color-error-light: #f8d7da;

    --color-info-dark: #4d86c4;
    --color-debug-dark: #4d86c4;
    --color-success-dark: #4a9c5d;
    --color-alert-dark: #927f40;
    --color-warning-dark: #927f40;
    --color-error-dark: #da525d;

    --color-gray-0: #f9f9f9;
    --color-gray-1: #e0e0e0;
    --color-gray-2: #c7c7c7;
    --color-gray-3: #aeaeae;
    --color-gray-4: #959595;
    --color-gray-5: #7d7d7d;
    --color-gray-6: #646464;
    --color-gray-7: #4b4b4b;
    --color-gray-8: #323232;
    --color-gray-9: #191919;

    --font-primary: sans-serif;
    --font-headings: 'Roboto Slab', serif;

    --spacing-gutter-medium: 3rem;
    --spacing-gutter-large: 4rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: var(--font-primary);
    background-color: var(--color-gray-1);
    color: var(--color-dark-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-headings);
}

.container {
    max-width: 144rem;
    margin: 0 auto;
    padding: var(--spacing-gutter-medium);
}

.main-header-container {
    background: var(--color-primary-dark);
}

.main-logo {
    font-size: 4rem;
    text-decoration: none;
    color: var(--color-white);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
}

.main-logo-icon {
    margin-right: 1.5rem;
}

.search-form {
    position: relative;
    border: solid .2rem var(--color-primary-dark);
    border-radius: .5rem;
    max-width: 64rem;
    margin: 0 auto;
    transition: all 500ms ease-in-out;
}

.search-input,
.search-button {
    border: none;
    background: none;
    outline: none;
    padding: 1rem;
    transition: all 500ms ease-in-out;
}

.search-input {
    width: 100%;
    padding-right: 2.5rem;
}

.search-button {
    position: absolute;
    top: 0;
    right: 0;
}

.search-button:focus {
    outline: solid .2rem var(--color-primary);
    border-radius: 5rem;
    background-color: var(--color-primary-light-hover);
    padding: .6rem;
    margin: .5rem ;
}

.search-form:focus-within {
    border-color: var(--color-primary);
    background-color: var(--color-white);
}

.search-form:focus-within .search-button {
    color: var(--color-primary);
}

.main-content {
    padding-top: 0;
}

.main-content-list {
    display: grid;
    padding-top: 0;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: var(--spacing-gutter-large);
}

.recipe {
    background: var(--color-white);
    box-shadow: -.5rem .5rem 1rem rgba(0, 0, 0, .3);
    transform: scale(1);
    transition: all 300ms ease-in-out;
    border-radius: .5rem;
    overflow: hidden;
}

.recipe img {
    max-width: 100%;
}

.recipe-list-item {
    max-width: 64rem;
}

.recipe-list-item:hover {
    box-shadow: -.5rem .5rem 1.5rem rgba(0, 0, 0, .4);
    transform: scale(1.01);
}

.recipe-title-container {
    padding: var(--spacing-gutter-medium);
    padding-bottom: 2rem;
}

.recipe-author {
    padding: 0 var(--spacing-gutter-medium);
}

.recipe-content {
    padding: var(--spacing-gutter-medium);
    padding-top: 2rem;
}

.recipe-author-item {
    color: var(--color-gray-4);
    margin-right: 1rem;
}

.recipe-author a {
    color: var(--color-primary);
    transition: all 300ms ease-in-out;
}

.recipe-author a:hover {
    color: var(--color-primary-dark);
}

.recipe-meta-container {
    display: flex;
    flex-direction: row wrap;
    padding: var(--spacing-gutter-medium);
    background: var(--color-gray-1);
}

.recipe-meta {
    display: flex;
    flex-flow: column wrap;
    flex-shrink: 1;
    flex-grow: 1;
    text-align: center;
}

.recipe-meta-title {
    font-size: 1.5rem;
}

.recipe-footer a {
    background: var(--color-primary-dark);
    display: block;
    color: var(--color-white);
    text-decoration: none;
    text-align: center;
    padding: 1.5rem;
    transition: all 300ms ease-in-out;
}

.recipe-footer a:hover {
    filter: brightness(2);
}

.main-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color-primary-dark);
    color: var(--color-white);
    padding: var(--spacing-gutter-large);
}

.main-footer a {
    text-decoration: none;
    color: var(--color-white);
    transition: all 300ms ease-in-out;
}

.main-footer a:hover {
    color: var(--color-primary);
}


.main-content-detail .recipe-list-item {
    max-width: 84rem;
    margin: 0 auto;
}

.main-content-detail .recipe-list-item:hover {
    box-shadow: -.5rem .5rem 1rem rgba(0, 0, 0, .3);
    transform: scale(1.0);
}
